<div class="body">
  <div class="img">
    <img src="{{community.image2}}" alt="" class="images">
  </div>
  <div class="container1">
    <span class="name">{{community.lessonName}}</span>
    <div class="container2">
      <img src="{{community.image1}}" alt="" class="images1">
      <a class="author">{{community.author}}</a>
      <i class="icon"></i>
      <span class="hour">编辑于{{community.hour}}</span>
      <span class="read">阅读量:{{community.read}}</span>
    </div>
  </div>
  <div class="article">
    <p>(一)函数三要素</p>
    <p>函数的三要素为函数名、参数（形参、实参），返回值。</p>
    <p>（二）函数定义与调用</p>
    <p>函数定义的关键字为function，不能省略，也不能简写。定义函数有三种形式，相应的调用形式有两种</p>
    <p>1.函数声明形式</p>
    <p>
      <img src="http://usercontent.edu2act.cn/media/ckeditor/upload2018/0930/KcxqbZo7jWtn9VCgxw6DyH.png" alt="" height="120px" width="377px">
    </p>
    <p>&nbsp;</p>
    <p>
      <strong>注：不需要再函数声明的</strong>
      <strong>后面添加一个分好，并且添加一个分号完全是浪费性能。大括号是函数声明的必须的语法元素之一，同事它也是一个复合语句，可以用来组织语句，右侧的花括弧（<strong>“}”本身就意味着复合语句的结束，所以不用添加分好，如果添加分号的话，就相当于重新建立了一个空语句。</strong>）本身就意味着复合语句的结束，所以不用添加分号，如果添加分号的话，就相当于重新建立了一个空语句</strong>
    </p>
    <p>2.函数表达式</p>
    <p>
      <img src="http://usercontent.edu2act.cn/media/ckeditor/upload2018/0930/3eqCuUzgt2JC8CAwrMDAeA.png" alt="" height="114px" width="482px">
    </p>
    <p>所以一般写成下列形式</p>
    <p>
      <img src="http://usercontent.edu2act.cn/media/ckeditor/upload2018/0930/3nvhd62uCLmPJGL94syqFk.png" alt="" height="139px" width="402px">
    </p>
    <p>
      <strong>注：函数表达式和声明变量原理相同，只不过变量的值是一个函数对象，这个时候就建议使用分号结束。</strong>
    </p>
  </div>
  <div class="authors">
    <img src="{{community.image1}}" alt="" class="images2">
    <div class="teacher">
      <span class="teacherName">刘秀梅<i class="icon1"></i></span>
      <span class="hebei">河北师范大学老师</span>
    </div>
    <button class="but">+关注</button>
  </div>
  <div class="shoucang">
      <a href="">收藏</a>
      <a href="">转发</a>
      <a href="">评论4</a>
     <a href="">赞2</a>
  </div>
</div>
