page-home {
    .navList{
        padding-left: 0px!important;
        margin:0px!important;
        height:44px;
        .first{
            border-bottom:2px solid #ffdb2c;
        }
        li{
            height:44px;
            text-align: center;
            float: left;
            //display:inline-block;
            width:25%;
            font-size: 16px;
            line-height: 44px;
        }
    }
    .sli{
        height: auto;
        img{
            width:100%;
        }
    }
    .subtitle{
        letter-spacing:5px;
    }
    .goods1{
        padding:0px;
        img{
            width:100%;
        }
        li{
            position: relative;
            width:45%;
            float:left;
            margin:5px 0 5px 3%;
        }
        span{
            display:block;
            width:26px;
            height:26px;
            text-align: center;
            line-height: 26px;
            border-radius: 50%;
            color:red;
            position: absolute;
            background: #fff;
            right:15px;
            bottom:25px;
        }
        p{
            position: absolute;
            width:100%;
            bottom:4px;
            margin:0;
            height:30px;
            text-align: center;
            background-color: ragb(0,0,0,0.5);
        }
    }
    .three{
        padding:0px;
        img{
            width:100%;
        }
        li{
            position: relative;
            width:27%;
            float:left;
            margin:5px 0 15px 5%;
        }
    }
    .goods2{
        padding:0px;
        img{
            width:100%;
        }
        li{
            position: relative;
            width:45%;
            float:left;
            margin:5px 0 5px 3.5%;
        }
        span{
            display:block;
            width:26px;
            height:26px;
            text-align: center;
            line-height: 26px;
            border-radius: 50%;
            color:red;
            position: absolute;
            background: #fff;
            right:5px;
            bottom:32px;
        }
        p{
            color:white;
            position: absolute;
            width:100%;
            left:5px;
            bottom:0px;
            margin:0;
            height:30px;
            font-size: 12px;
            background-color: ragb(0,0,0,0.5);
        }
    }
}
