<div class="body">
  <div class="body-left">
    <div class="left-top"></div>
    <div class="left-cen">
      <span class="yonghu">2-王岑</span>
      <div class="yonghu2">
        <div class="guanzhu">
          <p>0</p>
          <p>关注</p>
        </div>
        <div class="fensi">
          <p>0</p>
          <p>粉丝</p>
        </div>
      </div>
    </div>
    <div class="left-bot">
      <ul>
        <li><a [routerLink]="['/home']"><i class="icon1"></i>任务<span class="sp">></span></a></li>
        <li><a [routerLink]="['/home/tongbu']"><i class="icon2"></i>同步课<span class="sp">></span></a></li>
        <li><a [routerLink]="['/home/course']"><i class="icon3"></i>课程<span class="sp">></span></a></li>
        <li><a [routerLink]="['/home/qieshuo']"><i class="icon4"></i>且说<span class="sp">></span></a></li>
        <li><a [routerLink]="['/home/tongzhi']"><i class="icon5"></i>通知<span class="sp">></span></a></li>        
      </ul>
    </div>
  </div>
  <div class="body-right">
    <div class="right-top">
      <div class="uul">
        <ul>
          <li><a [routerLink]="['/home']"><i class="icon6"></i>未提交</a></li>
          <li><a href=""><i class="icon7"></i>已完成</a></li>
          <li><a href=""><i class="icon8"></i>已完结</a></li>
        </ul>
      </div>
      <div class="search">
          <button class="but"><i class="icon9"></i></button>
          <input type="text" placeholder="输入同步课名称搜索" class="txt">
      </div>
    </div>
    <div class="right-bot">
      <a href="" class="renwu11">
        <span class="renwu22">任务五--canvas</span>
        <span class="jiezhi">14小时之后截止</span>
        <span class="tijiao">未提交</span>
        <span class="fen">20分</span>
      </a>
      <a href="" class="hunhe">
        <i class="icon10"></i>
        <span>2016级混合开发应用</span>
        <i class="icon11"></i>
        <i class="icon12"></i>
        <span class="bi"><i class="icon13"></i></span>
        <span class="bi2"><i class="icon14"></i></span>
      </a>
    </div>
  </div>
</div>



