<div class="body">
  <div class="body-top">
    <i class="icon"></i>
    <a href="" class="name">/&nbsp;{{lesson.kecheng}}&nbsp;/</a>
    <a href="" class="name">&nbsp;&nbsp;{{lesson.lessonName}}&nbsp;/</a>
    <a href="" class="shuoming">&nbsp;&nbsp;{{lesson.shuoming}}</a>
  </div>
  <span class="kecheng">{{lesson.shuoming}}</span>
  <div class="body-cen">
    <div class="video">
      <video src="{{lesson.video}}" class="vid" controls="controls"></video>
    </div>
    <div class="meun">
      <ul>
        <li><a href="">课程目录</a></li>
        <li><a href="">1&nbsp;课程说明(上)</a></li>
        <li><a href="">2&nbsp;课程说明(下)</a></li>
        <li><a href="">3&nbsp;注册Github账户</a></li>
        <li><a href="">4&nbsp;Github个人主页</a></li>
        <li><a href="">5&nbsp;Github个人主页(下)</a></li>
        <li><a href="">6&nbsp;Github挖宝(上)</a></li>
        <li><a href="">7&nbsp;Github挖宝(下)</a></li>
        <li><a href="">8&nbsp;Githbu仓库</a></li>
        <li><a href="">9&nbsp;Git工具</a></li>
        <li><a href="">10&nbsp;介绍如何安装和配置Git Bash工具</a></li>
        <li><a href="">11&nbsp;Git命令(1)</a></li>  
        <li><a href="">12&nbsp;Git命令(2)</a></li>                
      </ul>
    </div>
  </div>
  <div class="body-bot">
    <div class="bot-left">
      <div class="jieshao">
        <span class="jieshao2">{{lesson.jieshao}}</span>
        <div class="jia">
        <a href="" class="guanzhu"><span class="guan">+</span>关注</a>
        </div>
      </div>
      <div class="pinglun">
        
      </div>
    </div>
    <div class="bot-right">

    </div>
  </div>
</div>