<div class="body">
    <div class="body-left">
      <div class="left-top"></div>
      <div class="left-cen">
        <span class="yonghu">2-王岑</span>
        <div class="yonghu2">
          <div class="guanzhu">
            <p>0</p>
            <p>关注</p>
          </div>
          <div class="fensi">
            <p>0</p>
            <p>粉丝</p>
          </div>
        </div>
      </div>
      <div class="left-bot">
        <ul>
          <li><a [routerLink]="['/home']"><i class="icon1"></i>任务<span class="sp">></span></a></li>
          <li><a [routerLink]="['/home/tongbu']"><i class="icon2"></i>同步课<span class="sp">></span></a></li>
          <li><a [routerLink]="['/home/course']"><i class="icon3"></i>课程<span class="sp">></span></a></li>
          <li><a [routerLink]="['/home/qieshuo']"><i class="icon4"></i>且说<span class="sp">></span></a></li>
          <li><a [routerLink]="['/home/tongzhi']"><i class="icon5"></i>通知<span class="sp">></span></a></li>        
        </ul>
      </div>
    </div>
    <div class="body-right">
      <div class="right-top">
        <div class="uul">
          <ul>
            <li><a href="">我加入的</a></li>
          </ul>
        </div>
        <div class="search">
            <button class="but"><i class="icon9"></i></button>
            <input type="text" placeholder="输入同步课名称搜索" class="txt">
        </div>
      </div>
      <div class="right-bot">
        <div class="bot1">
            <div class="img1">
              <img src="http://usercontent.edu2act.cn/media/team/18-09-18/VE66xjRaii5X8Y9qFZQLZC.jpg?imageView2/1/w/230/h/130" alt="" class="imag">
            </div>
            <div class="tongbu">
              <span class="yingyong">2016级混合应用开发</span>
            </div>
        </div>
      </div>
    </div>
  </div>