<div class="top">
  <div class="lesson">
    <i class="icon"></i>
    <span class="cour">同步课/{{course?.courseName}}</span>
    <button class="but">√已加入</button>
    <span class="span1">20分</span>
    <span class="span2">20分/</span>
    <span class="span3">0.00分/</span>
  </div>
  <div class="member"> 
    <ul>
      <li><a href=""><i class="icon1"></i>简介</a></li>
      <li><a href=""><i class="icon2"></i>互动</a></li>
      <li><a href=""><i class="icon3"></i>任务</a></li>
      <li><a href=""><i class="icon4"></i>成员</a></li>
    </ul>
  </div>
</div>
<div class="bottom">

</div>